<ion-header>
  <ion-toolbar>
    <ion-title>addproducts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" [formGroup]="addDataForm" (ngSubmit)="UserProvider?.setDataForm(addDataForm.value)">
    <div *ngIf="savedChanges">
      Data is saved.
      <ion-icon (click)="addDataForm.reset();savedchanges=false; toggle('searchMode');" name="clear"></ion-icon>
    </div>

    <div *ngIf="!savedChanges">
     <button type="submit" [disabled]="!addDataForm.valid" color="primary">Add</button>
     <button type="reset" (click)="addDataForm.reset();" [disabled]="!addDataForm.valid" color="primary">Clear</button>
     
     <span class="">
       <ion-icon color="primary"(click)="toggle('searchMode')" name="search"></ion-icon>
     </span>

     <span class="">
       <ion-icon color="primary"(click)="toggle('resMode'); getData();" name="cart"></ion-icon>
     </span>
     
     <ion-item>
       <ion-input type="text" placeholder="category" id="category" formControlName="category" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="Sub category" id="scategory" formControlName="scategory" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="tags" id="tags" formControlName="tags" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="Product name" id="name" formControlName="name" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="Description" id="descr" formControlName="descr" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="price" id="price" formControlName="price" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="colour" id="colour" formControlName="colour" ></ion-input>
     </ion-item>

     <ion-item>
       <ion-input type="text" placeholder="discount" id="discount" formControlName="discount" ></ion-input>
     </ion-item>

     <button [disabled]="!addDataForm?.valid" ion-button class="login_btn" type="submit">submit</button>
    </div> 
   </form>

</ion-content>
