<ion-header>
  <ion-toolbar>
    <ion-title>setproducts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
     <ion-card-content>
      <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')?
          showAddMode: ((toggleField=='editMode')? showEditMode : showResMode) ">
        <form role="form" [formGroup]="searchFormData"  class="example-form">
          <button type="button" (click)="toggle('resMode');getFilterData(searchFormData.value);" color="primary">search</button>
          <span class="example-spacer">
            <ion-icon name="add" color="primary" (click)="toggle('addMode');"></ion-icon>
          </span>

          <span class="example-spacer">
            <ion-icon name="cart" color="primary" (click)="toggle('resMode');getData();"></ion-icon>
          </span>
          <ion-item>
            <ion-input type="text" placeholder="category" id="category" formControlName="category" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Product name" id="name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="category" id="category" formControlName="category"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="category" id="category" formControlName="category" ></ion-input>
          </ion-item>

          <button [disabled]="!searchFormData?.valid" ion-button class="login_btn" type="submit"></button>
        </form>
      </div>
        
     </ion-card-content>
   </ion-card>
  
   <div #showAddMode>
     <!-- add page here -->
     <form role="form" [formGroup]="addDataForm" (ngSubmit)="setDataForm.value">
       <div *ngIf="savedChanges">
         Data is saved.
         <ion-icon (click)="this.addDataForm.reset();savedchanges=false; toggle('searchMode');" name="clear"></ion-icon>
       </div>

       <div *ngIf="!savedChanges">
        <button type="submit" [disabled]="!addDataForm.valid" color="primary">Add</button>
        <button type="reset" (click)="this.addDataForm.reset();" [disabled]="!addDataForm.valid" color="primary">Clear</button>
        
        <span class="">
          <ion-icon color="primary"(click)="toggle('searchMode')" name="search"></ion-icon>
        </span>

        <span class="">
          <ion-icon color="primary"(click)="toggle('resMode'); getData();" name="cart"></ion-icon>
        </span>
        
        <ion-item>
          <ion-input type="text" placeholder="category" id="category" formControlName="category" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Sub category" id="scategory" formControlName="scategory" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="tags" id="tags" formControlName="tags" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Product name" id="name" formControlName="name" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Description" id="descr" formControlName="descr" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="price" id="price" formControlName="price" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="colour" id="colour" formControlName="colour" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="discount" id="discount" formControlName="discount" ></ion-input>
        </ion-item>

        <button [disabled]="!addDataForm?.valid" ion-button class="login_btn" type="submit"></button>
       </div> 
      </form>
   </div>

   <div #showEditMode>
      <!-- edit page here -->
        <form role="form" [formGroup]="editDataForm" (ngSubmit)="updateData(editDataForm.value);">
          <input type="hidden" name="_id" id="id" [ngModel]="myDocData._id" required> 
          <div *ngIf="savedChanges">
            Data is saved.
            <ion-icon (click)="this.addDataForm.reset();savedchanges=false; toggle('searchMode');" name="clear"></ion-icon>
          </div>
   
          <div *ngIf="!savedChanges">
           <button type="submit" [disabled]="!addDataForm.valid" color="primary">Add</button>
           <button type="reset" (click)="this.addDataForm.reset();" [disabled]="!addDataForm.valid" color="primary">Clear</button>
           
           <span class="">
             <ion-icon color="primary"(click)="toggle('searchMode')" name="search"></ion-icon>
           </span>
   
           <span class="">
             <ion-icon color="primary"(click)="toggle('resMode'); getData();" name="cart"></ion-icon>
           </span>
           
           <ion-item>
             <ion-input type="text" placeholder="category" id="category" formControlName="category" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="Sub category" id="scategory" formControlName="scategory" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="tags" id="tags" formControlName="tags" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="Product name" id="name" formControlName="name" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="Description" id="descr" formControlName="descr" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="price" id="price" formControlName="price" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="colour" id="colour" formControlName="colour" ></ion-input>
           </ion-item>
   
           <ion-item>
             <ion-input type="text" placeholder="discount" id="discount" formControlName="discount" ></ion-input>
           </ion-item>
   
           <button [disabled]="!addDataForm?.valid" ion-button class="login_btn" type="submit"></button>
          </div> 
         </form>
    
   </div>
    
   <div #showResMode>
     <!-- result page here -->
   </div>
</ion-content>
