<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" role="form">
 
    <div class="create_account_content animated slideInUp">
      
      <div class="create_account_container">
        <ion-item>
          <ion-input placeholder="first name" type="text" formControlName="fullname"></ion-input>
        </ion-item>
        <div *ngFor="let error of error_messages.firstname">
					<div  color="invalid-feedback text-danger" *ngIf="registerForm.get('fullname').hasError(error.type) && (registerForm.get('fullname').dirty || registerForm.get('fullname').touched)">
						{{ error.message }}
					</div>
        </div>
        
        <ion-item>
          <ion-input placeholder="email" type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of error_messages.email">
					<div  color="invalid-feedback text-danger" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
						{{ error.message }}
					</div>
        </div>
        
        <ion-item>
          <ion-input placeholder="password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngFor="let error of error_messages.password">
					<div  color="invalid-feedback text-danger" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
						{{ error.message }}
					</div>
        </div>
        
        <ion-item>
          <ion-input  placeholder="confirm password" type="password" formControlName="rpassword"></ion-input>
        </ion-item>
        <div *ngFor="let error of error_messages.rpassword">
					<div  color="invalid-feedback text-danger" *ngIf="registerForm.get('rpassword').hasError(error.type) && (registerForm.get('rpassword').dirty || registerForm.get('rpassword').touched)">
						{{ error.message }}
					</div>
        </div>
        
        <div  color="invalid-feedback text-danger" *ngIf="!registerForm.get('rpassword').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('rpassword').dirty || registerForm.get('rpassword').touched)">
					Password and Confirm Password fields should match
        </div>
        
        <br>
        <button ion-button class="ion-margin form-control btn btn-primary" type="submit" expand="block" [disabled]="registerForm.controls.email.invalid || registerForm.controls.password.invalid || registerForm.controls.rpassword.invalid || passwordMatch == false">CREATE ACCOUNT</button>
    </div>
    </div>
  </form>

</ion-content>
