<ion-header>
  <ion-toolbar>
    <ion-title>inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input required  type="text" [(ngModel)]="data.category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sub category </ion-label>
      <ion-input required  type="text" [(ngModel)]="data.sub"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">price </ion-label>
      <ion-input required  type="number" [(ngModel)]="data.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">discount</ion-label>
      <ion-input required  type="text" [(ngModel)]="data.discount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">color </ion-label>
      <ion-input required  type="text" [(ngModel)]="data.color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea required [(ngModel)]="data.description"></ion-textarea>
    </ion-item>
    <ion-button block  type="submit" (click)="onSubmit">
      Login
    </ion-button>

</ion-content>
