<form role="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="login_content">
 
  <ion-item>
    <ion-input formControlName="email" placeholder="email" type="text"></ion-input>
  </ion-item>
  <div *ngFor="let error of error_messages.email">
    <div  color="invalid-feedback text-danger" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
      {{ error.message }}
    </div>
  </div>

  <ion-item class="borderNone">
    <ion-input formControlName="password" placeholder="password" type="password"></ion-input>
  </ion-item>
  <div *ngFor="let error of error_messages.password">
    <div  color="invalid-feedback text-danger" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
      {{ error.message }}
    </div>
  </div>
  <!-- <br> -->
  <button [disabled]="loginForm?.controls?.email?.invalid || loginForm?.controls?.password?.invalid" ion-button class="login_btn" type="submit">
    TAKE ME IN
  </button>
  <!-- <br> -->
  <a >forgot password?</a>
  <br />
  <h5>are you a new user?</h5>
  <button type="button"  ion-button class="create_btn">
    create your account
  </button>
</form>
